<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edumark</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'index' %}">Главная</a></li>
                                        <li><a href="{% url 'tours' %}">Экскурсии</a></li>
                                        <li><a class="active" href="{% url 'blog' %}">Статьи</a></li>
                                        <li><a href="{% url 'about' %}">О нас</a></li>
                                        <li><a href="{% url 'contact' %}">Контакт</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <ul class="none-list">
                                    <li>
                                        <a href="https://www.instagram.com">
                                            <i class="ti-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
                <h3>Об Испании от гида</h3>
                <h4 class="text-white">Раздел для туристов, которым интересна Испания</h4>
            </div>
            <!-- bradcam_area_end -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                {% if post.title_img %}
                                <img class="card-img rounded-0" src="{{ post.title_img.url }}" alt="">
                                {% endif %}
                                <a href="/catalog/blog/date/{{ post.created_on.year }}/{{ post.created_on.month }}/{{ post.created_on.day }}" class="blog_item_date">
                                    <h3>{{ post.created_on.date }}</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="/catalog/blog/{{ post.id }}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <p>{{ post.description }}</p>
                                <ul class="blog-info-link">{% for category in post.categories.all %}
                                    <li><a href="/catalog/blog/category/{{ category.id }}">  {{ category }}  </a></li>{% endfor %}
                                </ul>
                            </div>
                        </article>
                        {% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ posts.previous_page_number }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if posts.paginator.num_pages <= 5 %}
                                {% for p in posts.paginator %}
                                <li class="page-item">
                                    <a href="?page={{ p.number }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">{{ p.number}}</a>
                                </li>
                                {% endfor %}
                                {% elif posts.next_page_number == 2 %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page=2{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">{{ posts.paginator.num_pages }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a href="?page=1{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ posts.number }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">{{ posts.number }}</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ posts.next_page_number }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">{{ posts.next_page_number }}</a>
                                </li>
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ posts.paginator.num_pages }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link">{{ posts.paginator.num_pages }}</a>
                                </li>
                                {% endif %}
                            
                            {% if posts.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ posts.next_page_number }}{% if request.GET.query %}&search={{ request.GET.query }}{% endif %}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'search' %}" class="form-inline" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input name="search" type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Рубрики</h4>
                            <ul class="list cat-list">
                                {% for category in categories %}
                                <li>
                                    <a href="/catalog/blog/category/{{ category.id }}" class="d-flex">
                                        <p>{{ category.name }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Последние посты</h3>
                            {% for post in recent %}
                            <div class="media post_item">
                                <img src="{% static 'img/blog/author.png' %}" alt="post">
                                <div class="media-body">
                                    <a href="/catalog/blog/{{ post.id }}">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                    <p>{{ post.created_on.date }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Удобная навигация</h4>
                            <ul class="list">
                                {% for tag in tags %}
                                    {% if tag.count != 0 %}
                                <li>
                                    <a href="/catalog/blog/tag/{{ tag.id }}">{{ tag.name }} ({{ tag.count }})</a>
                                </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- footer -->
    <footer class="footer footer_bg_1">
      <div class="footer_top">
          <div class="container">
              <div class="row">
                  <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                          <div class="footer_logo">
                              <a href="{% url 'index' %}">
                                  <img src="{% static 'img/logo.png' %}" alt="">
                              </a>
                          </div>
                          <p>
                            Сайт для туристов, которые ищут гида в Минске. Тут вы можете найти экскурсии на любой вкус. Также здесь есть раздел для туристов, которым интересна Испания. Информация представлена в виде статей об этой стране, и ее основных регионах. Данная информация
                            поможет туристу определиться, в какой район Испании вам лучше поехать отдыхать, где и как брать экскурсии, как бронировать отели и другая
                            полезная информация.
                          </p>
                          <div class="socail_links">
                              <ul>
                                  <li>
                                      <a href="https://www.instagram.com">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="https://www.youtube.com">
                                          <i class="fa fa-youtube-play"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                  </div>
                  <div class="col-xl-3 offset-xl-1 col-md-6 col-lg-3">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                              Разделы
                          </h3>
                          <ul class="none-list">
                              <li><a href="{% url 'tours' %}">Экскурсии</a></li>
                              <li><a href="{% url 'blog' %}">Статьи</a></li>
                              <li><a href="{% url 'about' %}">О нас</a></li>
                              <li><a href="{% url 'contact' %}">Контакт</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                              статьи
                          </h3>
                          <ul class="none-list">
                              {% for post in recent %}
                              <li><a href="/catalog/blog/{{ post.id }}">{{ post.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copy-right_text">
          <div class="container">
              <div class="footer_border"></div>
              <div class="row">
                  <div class="col-xl-12">
                      <p class="copy_right text-center">
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with help of <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    <!-- footer -->
        <!-- link that opens popup -->
    
        <!-- form itself end-->
        <form id="test-form" class="white-popup-block mfp-hide">
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="#">
                            <img src="{% static 'img/form-logo.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Sign in</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="email" placeholder="Enter email">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_orange">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a> </p>
                </div>
            </div>
        </form>
        <!-- form itself end -->
    
        <!-- form itself end-->
        <form id="test-form2" class="white-popup-block mfp-hide">
            <div class="popup_box ">
                <div class="popup_inner">
                    <div class="logo text-center">
                        <a href="#">
                            <img src="{% static 'img/form-logo.png' %}" alt="">
                        </a>
                    </div>
                    <h3>Resistration</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <input type="email" placeholder="Enter email">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <input type="Password" placeholder="Confirm password">
                            </div>
                            <div class="col-xl-12">
                                <button type="submit" class="boxed_btn_orange">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    
        <!-- form itself end -->
<!-- form itself end -->
    <!-- JS here -->
    
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>