<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edumark</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'index' %}">Главная</a></li>
                                        <li><a href="{% url 'tours' %}">Экскурсии</a></li>
                                        <li><a href="{% url 'blog' %}">Статьи</a></li>
                                        <li><a href="{% url 'about' %}">О нас</a></li>
                                        <li><a href="{% url 'contact' %}">Контакт</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <ul class="none-list">
                                    <li>
                                        <a href="https://www.instagram.com">
                                            <i class="ti-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_info">
                            <h3>Гид по Минску</h3>
                            <a href="{% url 'tours' %}" class="boxed_btn">Смотреть экскурсии</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container box_1170">
            <div class="section-top-border">
                <h2 class="mb-30">Вы планируете провести экскурсию? Отличное решение! Я гид-профессионал, и с удовольствием помогу вам в этом.</h2>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'img/banner/denoise_minsk-back.jpg'  %}" alt class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>
                            Здравствуйте! Меня зовут Максим Божко.
                        </p>
                        <p>
                            C 2024 года работаю гидом в прекрасном Минске.
                        </p>
                        <p class="mb-4">
                             Минчане не преувеличивают, когда называют его столицей мира. Хотите убедиться в этом сами? Закажите одну или несколько индивидуальных экскурсий. Город покоряет с первого взгляда. И когда идешь по нему, приходится постоянно напоминать себе "Это правда, я здесь, я - в Минске!". Каждая из моих экскурсий откроет для вас новые горизонты.
                        </p>
                        <p>
                            Конечно, без проторенных экскурсионных маршрутов обойтись невозможно. Не обойтись, к примеру, без фотографии на фоне небоскребов Минск-Мира. Подумать только, этот символ города строится вот уже на протяжении 132-х лет и где-то половины еще пока не хватает... Осмотр Красного Костела обязательно будет включен в маршрут нашей <a href="https://smart-tour.by/ekskursii-i-tury-po-belarusi/peshekhodnaya-ekskursiya-po-minsku?utm_source=google&utm_medium=cpc&utm_term=peshaya_ekskursiya_minsk&utm_campaign=ekskursii_po_belarusi_poisk_rb&gclid=CjwKCAiA75itBhA6EiwAkho9eyRaEfCpM4YEQ0JTkAzW3wzmKKBWp-0YuPW3GR2AyRwPzWnzF3oMOhoCPEMQAvD_BwE" title="Экскурсии по Минску">экскурсии по Минску.</a>
                        </p>
                    </div>
                </div>
                <p>
                    Вы успеете восхититься простором площади Беларуси и порадоваться домашнему уюту Немиги. Успеете запутаться в паутине улочек Верхнего Города и потолкаться на Комаровском рынке. Успеете, закинув голову, рассмотреть гранитную мозаику Дворца Республики и, замерев, раствориться в гулкой тишине Собора Пресвятого Имени Пресвятой Девы Марии.
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'img/banner/minsk-fullhd.jpg' %}" alt class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>
                            Успеете даже прогуляться по парку имени Уго Чавеса и вдоволь насладиться видами с горы Дзержинской. Успеете поймать свое отражение в зеркальных глазах фонтана "Венок"
                        </p>
                        <p>
                            И, конечно, успеете попробовать шедевры белорусской кухни и заказать портрет у художника на Немиге. Успеете пройтись по Октябрьской улице и ослепнуть от солнечного отражения в стеклянном фасаде Национальной Библиотеки. А также обязательно успеете подняться на колесо обозрения в парке Горького и увидеть оттуда весь город.
                        </p>
                        <p>
                            Другими словами, обязательно успеете почувствовать себя настоящим минчанином и... навсегда, навсегда заболеете этим городом.
                        </p>
                    </div>
                </div>
                <div class="more_courses text-center">
                    <a href="{% url 'tours' %}" class="boxed_btn_rev">Больше экскурсий</a>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

   <div class="testimonial_area testimonial_bg_1 overlay">
        <div class="testmonial_active owl-carousel">
            {% for review in reviews %}
            <div class="single_testmoial">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="testmonial_text text-center">
                                <p>
                                    {{ review.title}}
                                </p>
                                <span>- {{ review.author }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="our_latest_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section title text-center mb-100">
                        <h1>Читайте полезные статьи</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
            <div class="col-xl-4 col-md-4">
                <div class="single_latest_blog">
                    {% if post.title_img %}
                    <div class="thumb">
                        <img src="{{ post.title_img.url }}" alt>
                    </div>
                    {% endif %}
                    <div class="content_blog">
                        <div class="date">
                            <p>
                                {{ post.created_on.date }} в
                                <a href="{% url 'blog' %}">Статьи об Испании</a>
                            </p>
                        </div>
                        <div class="blog_meta">
                            <h3>
                                <a href="/catalog/blog/{{ post.id }}">{{ post.title }}</a>
                            </h3>
                        </div>
                        <p class="blog_text">
                            {{ post.description }}
                        </p>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <footer class="footer footer_bg_1">
      <div class="footer_top">
          <div class="container">
              <div class="row">
                  <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                          <div class="footer_logo">
                              <a href="{% url 'blog' %}">
                                  <img src="{% static 'img/logo.png' %}" alt="">
                              </a>
                          </div>
                          <p>
                            Сайт для туристов, которые ищут гида в Минске. Тут вы можете найти экскурсии на любой вкус. Также здесь есть раздел для туристов, которым интересна Испания. Информация представлена в виде статей об этой стране, и ее основных регионах. Данная информация
                            поможет туристу определиться, в какой район Испании вам лучше поехать отдыхать, где и как брать экскурсии, как бронировать отели и другая
                            полезная информация.
                          </p>
                          <div class="socail_links">
                              <ul>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-instagram"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="#">
                                          <i class="fa fa-youtube-play"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                  </div>
                  <div class="col-xl-3 offset-xl-1 col-md-6 col-lg-3">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                              Разделы
                          </h3>
                          <ul class="none-list">
                              <li><a href="{% url 'tours' %}">Экскурсии</a></li>
                              <li><a href="{% url 'blog' %}">Статьи</a></li>
                              <li><a href="{% url 'about' %}">О нас</a></li>
                              <li><a href="{% url 'contact' %}">Контакт</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                          <h3 class="footer_title">
                              статьи
                          </h3>
                          <ul class="none-list">
                              {% for post in recent %}
                              <li><a href="/catalog/blog/{{ post.id }}">{{ post.title }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copy-right_text">
          <div class="container">
              <div class="footer_border"></div>
              <div class="row">
                  <div class="col-xl-12">
                      <p class="copy_right text-center">
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with help of <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    <!-- footer -->


    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Sign in</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign in</button>
                        </div>
                    </div>
                </form>
                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    <!-- form itself end -->

    <!-- form itself end-->
    <form id="test-form2" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Resistration</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="Password" placeholder="Confirm password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>